* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    sans-serif;
  background-color: #0e0f10;
  color: white;
}

main {
  margin-left: 3.5rem;
  padding: 1.5rem;
  min-height: 100vh;
  background-color: #0e0f10;
}

/* NAV */

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 3.5rem;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  background-color: #141517;

  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.main-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0.3rem;
}

.main-nav a {
  color: #00ffa3;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0.5rem 0.3rem;
  border-radius: 0.5rem;
  background-color: #0e0f10;
  text-align: center;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.main-nav a:hover {
  background-color: #00ffa3;
  color: #0e0f10;
}

/* ChannelCard */

.HomeView {
  padding: 1.5rem 0;
}

.HomeView h1 {
  font-size: 1.8rem;
  color: #00ffa3;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #0f1e35;
  padding-bottom: 0.5rem;
}

#channel-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding-top: 0.5rem;
}

.ChannelCard {
  background-color: #141517;
  border-radius: 10px;
  padding: 0.75rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}
.ChannelCard:hover {
  background-color: #414242;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(232, 168, 38, 0.2);
}

.channel-image {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #00ffa3;
  flex-shrink: 0;
  display: block;
}

.channel-info {
  flex-grow: 1;
}

.channel-name {
  margin: 0;
  font-size: 1.1rem;
  color: #00ffa3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ProfileHeader */

.ProfileHeader {
  border-radius: 0.75rem;
  padding: 0.5rem;
  background-color: #0e0f10;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.ProfileHeader-image {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
  flex-shrink: 0;
  display: block;
}

.ProfileHeader h1 {
  margin: 0;
  font-size: 1.3rem;
}

/* LiveLogContainer */

.LiveLogContainer {
  border-radius: 0.75rem;
  padding: 0.2rem;
  background-color: #0e0f10;
  margin-bottom: 1rem;

  gap: 0.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.LiveLogContainer > p {
  flex-shrink: 0;
  color: #00ffa3;
  font-weight: bold;
  font-size: 0.9rem;
  padding-right: 0.5rem;
}

.live-log-card-date {
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 0.9rem;
}

.live-text {
  color: #00ffa3;
}

#live-log-card {
  display: flex;
  gap: 0.5rem;
}

.LiveLogCard {
  border-radius: 0.75rem;
  padding: 0.5rem;
  background-color: #1a1b1d;
  text-align: center;
  min-width: 4.5rem;
  flex-shrink: 0;

  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.LiveLogCard:hover {
  background-color: #00ffa3;
  color: #0e0f10;
  cursor: pointer;
}

.LiveLogCard-image {
  width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
  border-radius: 0.3rem;
  background-color: #0f1e35;
  margin-bottom: 0.15rem;
}

.LiveLogCard-info {
  max-width: 100px;
  text-align: left;
}

.LiveLogCard-title {
  overflow-wrap: break-word;
  color: #9b9b9b;
  font-size: 0.65rem;
}

.LiveLogCard-name,
.LiveLogCard-time {
  color: #8d8d8d;
  font-size: 0.7rem;
}

.LiveLogCard:hover .LiveLogCard-title,
.LiveLogCard:hover .LiveLogCard-name,
.LiveLogCard:hover .LiveLogCard-time {
  color: #0e0f10;
}

/* 미디어 */
@media (max-width: 480px) {
  header {
    width: 3.5rem;
  }

  main {
    margin-left: 3.5rem;
    padding: 0.8rem;
  }

  .ProfileHeader-image {
    width: 2.5rem;
    height: 2.5rem;
  }

  .LiveLogCard {
    min-width: 3.5rem;
  }
}
